.header-nav {
    text-align: "left";
    background-color: "green"; 
    margin: "0";
    padding: "10px";
    position: "absolute";
    top: "0";
    left: "0";
    box-sizing: "border-box";
    width: "100%";
    z-index: 1
}